PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017
JWT_SECRET=change_this_in_production
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_SECRET_KEY=your_api_secret
